header {
    background-color: #20222A;
    color: white;
    position: fixed;
    width: 100%;
    height: 72px;
    margin: 0px;
    top: 0px;
    left: 0px;

}

main {
    background-image: url("foto/Hottest.png");
    position: absolute;
    width: 100%;
    height: 900px;
    left: 0px;
    margin-top: 72px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: #20222A;
    top: 0px;

}

body {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.menu:hover {
    text-decoration: underline;
}

.log {
    border-radius: 60px/40px;
    /* Создание эллипса */
    background: yellow;
    /* цвет желтый*/
}

h1 {
    color: white;
    text-align: left;
    top: 50%;
}

.menu {
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
    float: left;
    margin: 10px;
}


footer {
    background-color: #20222A;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    color: #FFFF 50%;
    text-align: center;
}